certifi==2018.1.18
cloudinary==1.10.0
Django==2.0.1
django-extensions==1.9.9
-e git+https://github.com/SeedyROM/django-progressbarupload@954323653df36835c990df2c4309f060a8e6cc85#egg=django_progressbarupload
django-smalluuid==1.1.1
mock==2.0.0
pbr==3.1.1
Pillow==8.3.2
pytz==2017.3
six==1.11.0
smalluuid==1.0.0
typing==3.6.4
urllib3==1.22
