{% extends 'layout2.html' %}

{% block title %} {{ model.title }} {% endblock %}

{% block content %}
<img src="{{ model.image }}" alt="{{ model.title }} image">

<div id="posts">
  {% for post in model.posts.all %}
    <div class="post">
      <div class="title">{{ post.title }}</div>
      <div class="body">{{ post.body }}</div>
      <div class="user">{{ post.account.username }}</div>
    </div>
  {% empty %}
    No posts.
  {% endfor %}
</div>

<form method="POST" action="{% url 'boards:add-comment' model.pk %}">
  {% csrf_token %}
  {{ form.as_p }}
 <div>
   <button>Submit</button>
 </div>
</form>
{% endblock %}
